@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

.main{
    color: rgba(0, 255, 76, 0.726);
    font-family: "Anton", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: black;
    word-spacing: 2px;
    text-align: center;
    width: 100%;
    margin: auto;
    
    
    
}
h1{
    color: rgb(6, 57, 176);
    

    animation: zoomIn 1.5s ease-in-out;
}

h1:hover{
    font-size: 180px;
    transform: scale(1.03);
    transition: 0.8s all ease-in-out;
}
@keyframes glow {
    0% {
      box-shadow: 0 0 2px #8b3e8e, 0 0 5px #8e3e8b, 0 0 10px #8b3e8e, 0 0 15px #8e3e8b;
    }
    50% {
      box-shadow: 0 0 1px #8b3e8e, 0 0 10px #8e3e8b, 0 0 10px #8b3e8e, 0 0 10px #8e3e8b;
    }
    100% {
      box-shadow: 0 0 2px #8b3e8e, 0 0 15px #8e3e8b, 0 0 15px #8b3e8e, 0 0 20px #8e3e8b;
    }
  }
@keyframes zoomIn {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
span{
    animation: colorChange 3s ease-in-out infinite;
    
}

@keyframes colorChange {
    0% {
      color: rgb(255, 238, 0);
    }
    50% {
      color: rgb(255, 0, 170);
    }
    100% {
      color: rgb(196, 255, 33);
    }
}
  
  
.heading{
    margin-bottom: 30px;
    border-bottom: 3px solid white;
}



.content{
    width: 80%;
    margin: auto;
    font-size: 70px;
    padding-top: 20px;
    text-shadow: 1px 1px 1px  rgb(242, 255, 1);
    
}


button{
    background-color: rgba(254, 0, 212, 0.874);
    padding: 10px;
    font-family: "Anton", serif;
    
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
    cursor: pointer;
    margin: 30px;
    margin-bottom: 50px;
}



.about {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
    
}



.card {
    width: 30%;
    height: 300px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    background-position: center;
   
    
}
/*animation: glow 2s infinite;*/


.card-health {
    background-image: url('../health.jpg');
}



.card-climate {
    background-image: url('../climate.jpg');
}



.card-habits {
    background-image: url('../habit.jpg');
}



.card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.6);
    
    padding: 15px;
    border-radius: 20px;
    color: white;
    border-radius: 2px;
}



.card h3 {
    margin: auto;
    padding: 3px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 51, 51, 0.478);
    font-size: 24px;
    font-weight: bold;
    width: fit-content;
    font: "Bebas Neue" , serif;
}


.card p {
    font-size: 16px;
    margin-top: 10px;
    padding: 5px;
}


.card-content:hover {
    background: rgba(0, 0, 0, 0.8); 
    transform: scale(1.08); 
    transition: all 0.7s ease-in-out;
}


.aboutus{
    color: white;
    margin: 50px;
    font-size: 60px;
}
.product-details {
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  color: white; 
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); 
  margin: 20px;
  border-radius: 8px;
  width: 300px; 
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}
.health{
  background-image: url("../diagnosis.jpg");
}
.carbon{
  background-image: url("../carbontracking.webp");
  background-size: 300px;
}
.habit{
  background-image: url("../tracking.webp");
  background-size: 300px;
}
.info{
  color: rgb(0, 255, 89);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
  
}
.info h3{
  color: rgb(255, 247, 0);
  font-weight: bold;
  font-size: x-large;
  
  text-align: center;
  padding: 2px;
  
}
.info p{
  width: 250px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.447);
  border-radius: 15px;
  padding: 10px;
}
.product{
  background-color: rgba(41, 0, 113, 0.392);
  margin-bottom: 50px;
  border-radius: 20px;
  
}

@media screen and (max-width :1024px) {
  *{
    overflow-x: hidden;
    padding: 0;
  }
    h1{
      font-size: 3rem;
    }
    h1:hover{
      font-size: 80px;
      transform: scale(1.03);
      transition: 0.8s all ease-in-out;
  }
  .content p{
    font-size: 2.5rem;
  }
  .buttons{
    display: flex;
  }
  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card{
    width: 100%;
  }
}